@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueHeavy.eot');
    src: url('../fonts/HelveticaNeueHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueHeavy.woff2') format('woff2'),
        url('../fonts/HelveticaNeueHeavy.woff') format('woff'),
        url('../fonts/HelveticaNeueHeavy.ttf') format('truetype'),
        url('../fonts/HelveticaNeueHeavy.svg#HelveticaNeueHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueBold_1.eot');
    src: url('../fonts/HelveticaNeueBold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueBold_1.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBold_1.woff') format('woff'),
        url('../fonts/HelveticaNeueBold_1.ttf') format('truetype'),
        url('../fonts/HelveticaNeueBold_1.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

